[Unit]
Description=Thanos Compactor
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/usr/sbin/thanos compact \
    --wait \
    --log.level=info \
    --data-dir=/thanos/compact \
    --http-address=0.0.0.0:19191 \
    --objstore.config-file=/opt/thanos/storage.yaml \
    --retention.resolution-raw=21d \
    --retention.resolution-5m=90d \
    --retention.resolution-1h=365d \
    --consistency-delay=30m \
    --block-sync-concurrency=20 \
    --compact.concurrency=5 


ExecReload=/usr/bin/kill -s HUP $MAINPID
ExecStop=/usr/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
